@font-face {
	font-family: subwayFont;
	src: url('../images/subway.ttf') format('truetype');
}

body {
	font-family: subwayFont;
}

.panel-default > .panel-heading-custom {
    background: #3498DB; 
    color: #fff;
}

.panel-default {
	border-color: #2980B9;
}

.panel-title {
	color: #ECF0F1;
}

.jumbotron {
	background-color: #2C3E50;
	color: #ECF0F1;
}

.btn {
	background-color: #2C3E50;
}

thead:first-child {background: #2980B9}

tr:nth-child(2n+2) {background: #E74C3C}
